@model ModelLayer.ViewModels.AllCustomerNamesViewModel

@{
    ViewData["Title"] = "ListAllCustomers";
}

<h1>List of All Customers</h1>

<p>
    <a asp-action="AdminView">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <h4>Cutomer List</h4>
        @foreach (var item in Model.nameList)
        {
            <tr>
                <td>
                    <p>
                        @item.Trim();
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
@*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@